<div class="body-style">
    <h2>Login to your Account</h2>

    <div>
        <form class="row">
    
            <div class="col-md-6 col-12 form-group input-field-container">
                <label for="mob" class="input-label">Full Name</label>
                <input type="text" class="input-field" id="mob" pattern="^\d{10}$" formControlName="email"  placeholder="" data_target="dob"
                    data_target_prev="" />
                <div class="text-danger">
                </div>
            </div>

            <div class="col-md-6 col-12 form-group input-field-container paading-level">
                <label for="mob" class="input-label">UserName</label>
                <input type="password" class="input-field" id="mob" pattern="^\d{10}$" formControlName="password"  placeholder="" data_target="dob"
                    data_target_prev="" />
                <div class="text-danger">
                </div>
            </div>

            <div class="col-md-6 col-12 form-group input-field-container paading-level">
                <label for="mob" class="input-label">Email Address</label>
                <input type="password" class="input-field" id="mob" pattern="^\d{10}$" formControlName="password"  placeholder="" data_target="dob"
                    data_target_prev="" />
                <div class="text-danger">
                </div>
            </div>

            <div class="col-md-6 col-12 form-group input-field-container paading-level">
                <label for="mob" class="input-label">Phone Number</label>
                <input type="password" class="input-field" id="mob" pattern="^\d{10}$" formControlName="password"  placeholder="" data_target="dob"
                    data_target_prev="" />
                <div class="text-danger">
                </div>
            </div>

            <div class="col-md-6 col-12 form-group input-field-container paading-level">
                <label for="mob" class="input-label">Your Password</label>
                <input type="password" class="input-field" id="mob" pattern="^\d{10}$" formControlName="password"  placeholder="" data_target="dob"
                    data_target_prev="" />
                <div class="text-danger">
                </div>
            </div>

            <div class="col-md-6 col-12 form-group input-field-container paading-level">
                <label for="mob" class="input-label">Confirm Password</label>
                <input type="password" class="input-field" id="mob" pattern="^\d{10}$" formControlName="password"  placeholder="" data_target="dob"
                    data_target_prev="" />
                <div class="text-danger">
                </div>
            </div>

            <div class="col-md-6 col-12 form-group input-field-container paading-level">
                <label for="mob" class="input-label" style="color: black; font-weight: bold;">Gender</label>
                  <input type="radio" id="1" name="fav_language" value="HTML">
                   <label for="html">Male</label>
                   <input type="radio" id="2" name="fav_language" value="CSS">
                   <label for="css">Female</label>
                   <input type="radio" id="3" name="fav_language" value="JavaScript">
                   <label for="javascript">Prefer not to say</label>
            </div>

            <div class="proceed-btn col-12 mt-4 paading-level">
                <button type="button" id="next" class="btn col-md-5 col-12  proceedNext" (click)="proceedNext()">
                        Register
                </button>
            </div>
        </form>
    </div>

</div>

