.body-style{
    text-align: center;
    margin-top: 50px;
    height: 300px;
    border: 10px solid burlywood;
    margin-left: 400px;
    margin-right: 400px;
}

.table, th, td {
    border:1px solid black;
  }